@using Microsoft.AspNetCore.Components.Forms

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Background-->
            <div class="form-bg">
                <EditForm Model="@WishlistToEdit" OnValidSubmit="SubmitAsync">
                    <!-- form -->
                    <div class="form-body">
                        <!-- Content -->
                        <div class="form-content">
                            <div class="form-header">
                                <div>
                                </div>
                                <h2>Rediger liste</h2>
                                <div class="clickable" @onclick="CloseModalAsync">
                                    X
                                </div>
                            </div>

                            <!-- input felt-->
                            <div class="container-selections">
                                <div>
                                    <p class="input-description">Navn på listen</p>
                                    <InputText class="input-custom" type="text" placeholder="Min nye liste..." @bind-Value="WishlistToEdit.Name" />
                                </div>
                                <div class="container-emoji">
                                    <p class="emoji-description">Valgt emoji</p>
                                    <div class="selector-emoji">

                                        <p class="emoji-size-selected">@WishlistToEdit.Emoji</p>

                                    </div>

                                </div>
                            </div>
                            <div class="emoji-draw">
                                @if (emojis != null)
                                {
                                    @foreach (string s in emojis)
                                    {
                                        <div class="emoji-size-draw" @onclick="()=>EmojiSelected(s)">@s</div>
                                    }
                                }
                            </div>

                            <div class="modal-footer">
                                <input type="button" @onclick="DeleteWishlistAsync" class="button-delete" value="Slet">
                                <input type="submit" class="button-submit" value="Gem">
                            </div>

                        </div>

                    </div>
                </EditForm>
            </div>

        </div>
    </div>
</div> 