body {
}

.CompDiv {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: 18vh auto;
    font-family: 'Poppins';
}

.fa-link{
    font-size:0.8vw;
    position:absolute;
    cursor:pointer;
}
.Headers {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 10vw;
    padding-right: 10vw;
}

.emojipic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    border-radius: 5px;
}

.Emoji {
    font-size: 1.5vw;
    margin-bottom: 0px;
}

.Name {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid black;
    padding-bottom: 0.5vh;
    padding-right: 2vw;
}

.tag {
    margin-bottom: 0px;
    margin-left: 1vw;
    font-size: 2vw;
}

.ønskebtn {
    background-color: #5BC0EB;
    border: none;
    outline: none;
}

.List {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:15vw;
    width: 60vw;
    height: 72vh;
    margin-left: 10vw;
    margin-top: 5vh;
    overflow: auto;
}

.hoverClass{
    display:none;
    position:absolute;
    background-color:white;
    border-radius:15px;
    border:2px solid #5bc0eb;
    padding:1vh;
}

.hoverheader{
    font-size:1vw;
}

.hovertext {
    font-size: 0.6vw;
}

.Ønske {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:15vw;
}

.image {
    border: 1px solid black;
    width: 10vw;
    height: 10vw;
    color: black;
    text-decoration: none;


}
.img1{
    bottom:0vw;
}

.imageHolder {
    display: grid;
    grid-template-rows: 10vw;
    grid-template-columns: 10vw;
    height: 10vw;
}

.MaxWidth {
    scrollbar-gutter: stable;
  overflow:auto;
    height: 9.8vw;
    margin-top:0.1vw;
    margin-left:1vw;
   width:8.95vw;
    word-break: break-all;
}



.text {
    align-self: flex-start;
    padding-left: 2.6vw;
    margin-top: 0.5vh;
}

.gifttitle {
    height: 2.8vh;
    width: 10vw;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5BC0EB;
    border-radius: 3px;
    max-height: 30px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #55b0d7;
    }



.inputarea {
    height: 100%;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 0px solid black;
    background-color: #5bc0eb;
    color: white;
    display: flex;
    justify-content: center;
    width: 2.2vw;
}

.input {
    border: 1px solid #dee2e6;
    font-size: 1vw;
    outline: none !important;
 
    padding: 0.2vh;
    padding-left:1vh;
}

.input-group {
    font-family: 'Poppins';
    margin: 2px;
    margin-top: 2vh;
    width:15vw;
}


::deep .input:focus {
    outline: none !important;
    box-shadow: none;
    border: 1px solid #dee2e6;
}

.inputbutton {
    border: none;
    padding: 0px;
    height: 100%;
    border-radius: 25px;
    cursor:pointer;
}

.EditWish {
    position:relative;
    left:9vw;
    height: 1vw;
    width: 1vw;
    color:black;
    z-index: 4;
    grid-row: 1;
    grid-column: 1;
  
}

    .EditWish:hover {
        transform: scale(1.2);
        cursor:pointer;
        color:white;
    }



.description {
    display: none;
    text-align: center;
    width: 10vw;
    height: 10vw;
    background-color: #0000006e;
    color: white;
    z-index: 3;
    grid-row: 1;
    grid-column: 1;
    cursor: pointer;
}

.imagecontainer {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
}

.blue {
    color: #5BC0EB !important;
    position: relative;
    left: 9vw;
    height: 1vw;
    width: 1vw;
  
    z-index: 4;
    grid-row: 1;
    grid-column: 1;
}

    .blue:hover {
        transform: scale(1.5);
        cursor: pointer;
     
    }

.grey {
    color: #808080;
    position: relative;
    left: 9vw;
    height: 1vw;
    width: 1vw;
  
    z-index: 4;
    grid-row: 1;
    grid-column: 1;
}