body {
}

.TextHolder{
    display:flex;
    justify-content:space-between;
    margin-left:5vh;
    margin-right:5vh;
    margin-bottom:1vh;
    margin-bottom:0.5vh;

}

.selectList{
    margin-bottom:0vh;
    cursor:pointer;
}

.plus {
    padding: 0px;
    padding-left:5px;
 
   
    position:relative;

}

.row{
   display:grid;
   grid-template-columns:auto auto;
}
.ListHolder {
    margin: 5vh;
    margin-top: 0vh;
    height: 72vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.list {
    display: grid;
    grid-template-columns: 8vw 8vw;
    text-align: center;
    font-family: 'Poppins';
    overflow-y:auto;
}

.item {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;


}
.emojidiv {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 4vw;
    border-radius: 5px;
    margin-bottom: 4px;
    background-color: #EEEEEE;
    border: solid 1px #ABABAB;
}

.emojistring {
    font-size: 2vw;
    margin-bottom: 0px;
}

.wishlistname {
    font-size: 1vw;
    overflow:auto;
    height:2.6vh;
    margin-bottom:0px;
 
}

.itemcount {
    font-size: 0.5vw;
    color: #8F8F8F;
}
