body {
}

.PageCss {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 20% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../Images/bg.png);
}

.sideBar {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    text-align: center;
}


.sidebarHeader{
    font-size:1.8vw;
}

.mainpage{

}