@page "/"
@page "/{WishListId:int}"

@using ComponentLib.Components;

@if (ready)
{
    @if (modal)
    {
        <CreateWishlistModal CloseModal="ToggleCreateList" />
    }

    @if (addWish)
    {
        <CreateWishModal Cookie="Cookie" CloseModal="ToggleAddWish" WishListId="SelectedList.Id" />
    }

    @if(editWish)
    {
        <EditDeleteWishModal Cookie="Cookie" CloseModal="ToggleEditWish" Wish="WishCreateForm" />
    }

        <div class="PageCss">
            <div class="sideBar">
                <h1 @onclick="HomeButton" class="sidebarHeader"><b>Dine</b> Ønskelister</h1>
                <WishListComp Cookie="Cookie" ShowCreateModal="ToggleCreateList" LoadWishList="LoadWishlistAsync" />
            </div>
            <div class="mainpage">
            <MyWishListComp Cookie="Cookie" WishList="SelectedList" AddWish="ToggleAddWish" WishListOwner="wishListOwner" EditWish="ToggleEditWish" />
            <ChatComp Cookie="Cookie" WishList="SelectedList" Message="SendMessageAsync" />
        </div>

        </div>
    
 
    

}
