@page "/"

@using ComponentLib.Components

@if (ready)
{
    @if (modal)
    {
        <CreateWishlistModal CloseModal="(() => ShowCreateListModal(false))" CreateModal="CreateWishlist" />
    }

    @if (addWish)
    {
        <CreateWishModal CloseModal="ToggleAddWish" CreateModal="CreateWish" WishListId="selectedList.Id" />
    }

        <div class="PageCss">
            <div class="sideBar">
                <h1 class="sidebarHeader"><b>Dine</b> Ønskelister</h1>
                <WishListComp cookie="cookie" ShowCreateModal="ShowCreateListModal" LoadWishList="LoadWishlistAsync" />
            </div>
            <div class="mainpage">
            <MyWishListComp cookie="cookie" WishList="selectedList" addWish="ToggleAddWish" />
        </div>

        </div>
    
 
    

}
