@page "/"
@using ComponentLib
@using ComponentLib.Components

@if (ready)
{
    @if (modal)
    {
        <WishlistModal CloseModal="(() => ShowCreateListModal(false))" CreateModal="CreateWishlist" />
    }
    
        <div class="PageCss">
            <div class="sideBar">
                <h1 class="sidebarHeader"><b>Dine</b> Ønskelister</h1>
                <WishListComp cookie="cookie" ShowCreateModal="ShowCreateListModal" LoadWishList="LoadWishlistAsync" />
            </div>
            <div class="mainpage"></div>

        </div>
    
 
    

}
