@page "/"
@page "/{WishListId:int}"

@using ComponentLib.Components;

@if (ready)
{
    @if (modal)
    {
        <CreateWishlistModal CloseModal="(() => ShowCreateListModal(false))" CreateModal="CreateWishlist" />
    }

    @if (addWish)
    {
        <CreateWishModal CloseModal="ToggleAddWish" CreateModal="CreateWish" WishListId="SelectedList.Id" />
    }

        <div class="PageCss">
            <div class="sideBar">
                <h1 class="sidebarHeader"><b>Dine</b> Ønskelister</h1>
                <WishListComp Cookie="Cookie" ShowCreateModal="ShowCreateListModal" LoadWishList="LoadWishlistAsync" />
            </div>
            <div class="mainpage">
            <MyWishListComp Cookie="Cookie" WishList="SelectedList" AddWish="ToggleAddWish" WishListOwner="wishListOwner" />
        </div>

        </div>
    
 
    

}
