.PageCss {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url("https://cdn.discordapp.com/attachments/1235846535691108414/1237017695115939891/bg.png?ex=663a1e01&is=6638cc81&hm=45a39f0e55e54dc7647dd59b919476b994843c266310881e3598077c1cec8553&")
}

.formel {
    height: 100vh;
    display: flex;
    place-self: center center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
    flex-direction: column;
}

.inputarea {
    height: 100%;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 0px solid black;
    background-color: #5bc0eb;
    color: white;
   display:flex;
   justify-content:center;
    width:3vw;
  
}

::deep .input {
    border: 1px solid #dee2e6;
    font-size: 1.2vw;
    outline: none !important;
    width: 22vw;
    
    padding: 1vh;
}

.input-group {
    font-family: 'Poppins';
    margin: 2px;
    margin-top:2vh;
}


::deep .input:focus {
    outline: none !important;
    box-shadow: none;
    border: 1px solid #dee2e6;
}

.inputbutton {
    border: none;
    padding: 0px;
    height: 100%;
 
    border-radius: 25px;

}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    justify-content: center;
}

.square {
    border-radius: 2px;
    margin: 4px;
    width: 10px;
    height: 10px;
    background-color: #b9bbc6;
    cursor: pointer;
}

.s1 {
    background-color: #5bc0eb;
}

.toast {
    margin: 1em;
}

.toast-header {
    background-color: #5bc0eb;
}

.postion {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.toast:not(.show) {
    display: block;
}

.toast-header {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.close {
    border: none;
    background-color: transparent;
    color: white;
}
h1 {
    font-family: 'Poppins';
    font-weight:bold;
    
}

.Logo{
    width:6vw;
}

.headerDiv {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 15vw;
    align-items: center;
    justify-content: center;
    position:relative;
    gap:2vh;
    bottom:3vh;
}

.bottombtns{
    display:flex;
    justify-content:space-between;
    font-family:'Poppins';
    font-size:1.5vw;
    margin-top:2vh;
}

.CreateBtn {
    background-color: white;
    color: #5bc0eb;
    border-radius: 10px;
    border: 2px solid #5bc0eb;
    cursor: pointer;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top:0.5vh;
    padding-bottom:0.5vh;
}

.LoginBtn {
    border: 2px solid #5bc0eb;
    background-color: #5bc0eb;
    color: white;
    border-radius: 10px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}
@media only screen and (max-width: 600px) {
    .headerDiv {
        height: 20vh;
        width: 25vw;
        bottom: 3vh;
    }
    .Logo {
        width: 100%;
    }

    h1{
        font-size:6vw;
    }
    ::deep .input {
        font-size: 3vw;
        width:70vw;
      
    }

    .bottombtns {
        
        font-size: 5vw;
    
    }
}
