@page "/login"

@rendermode InteractiveServer
<div class="PageCss">
    <div class="formel">
        <div class="headerDiv">
            <img class="Logo" src="../Images/Logo.svg" />
            <h1 class="Overskrift">ØnskeBrønden</h1>
        </div>

        <div class="inputfelt">
            <EditForm Model="@loginForm" OnSubmit="Submit">

                <DataAnnotationsValidator />


                <div class="input-group">
                    <InputText placeholder="Intast navn..." autocomplete="off" class="form-control input" @bind-Value="loginForm.Name" />
                    <div class="input-group-append">
                        <div class="inputbutton"><span class="input-group-text inputarea"><i class="fa-solid fa-user"></i></span></div>
                    </div>
                </div>



                <div class="input-group">
                    <InputText type="password" placeholder="Intasts adgangskode..." autocomplete="off" class="form-control input" @bind-Value="loginForm.Password" />
                    <div class="input-group-append">
                        <div class="inputbutton"><span class="input-group-text inputarea"><i class="fa-solid fa-lock"></i></span></div>
                    </div>
                </div>

                <div class="bottombtns">
                    <div @onclick="GoToSignUp" class="CreateBtn">Opret konto</div>
                    <button class="LoginBtn">Login</button>
                </div>
                <input type="submit" class="visually-hidden">


            </EditForm>
        </div>
    </div>
    @if (errorMessages.Count != 0)
    {
        <div class="postion">
            <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
                <div class="toast-header">

                    <strong class="mr-auto">Errors</strong>

                    <button type="button" @onclick="(() => errorMessages = new())" class=" close" data-dismiss="toast" aria-label="Close">
                        <i class="fa-solid fa-x"></i>
                    </button>
                </div>
                <div class="toast-body">
                    @foreach (var item in errorMessages)
                    {
                        <li style="color:red"> @item</li>
                    }
                </div>
            </div>
        </div>
    }

</div>

@code {

}
