@page "/login"

@rendermode InteractiveServer
<div class="PageCss">
    <div class="formel">


        <h1 class="Overskrift">Opret</h1>
        <div class="inputfelt">
            <EditForm Model="@createForm" OnSubmit="Submit">

                <DataAnnotationsValidator />

             
                    <div class="input-group">
                        <InputText placeholder="Skriv dit navn" autocomplete="off" class="form-control input" @bind-Value="createForm.Name" />
                        <div class="input-group-append">
                            <div @onclick="(() =>NextInput(1))" class="inputbutton"><span class="input-group-text inputarea"><i class="fa-solid fa-chevron-right"></i></span></div>
                        </div>
                    </div>

                
               
                    <div class="input-group">
                        <InputText type="email" placeholder="Skriv din email" autocomplete="off" class="form-control input" @bind-Value="createForm.Email" />
                        <div class="input-group-append">
                            <div @onclick="(() =>NextInput(2))" class="inputbutton"><span class="input-group-text inputarea"><i class="fa-solid fa-chevron-right"></i></span></div>
                        </div>
                    </div>


                <input type="submit" class="visually-hidden">


            </EditForm>
        </div>
    </div>
    @if (errorMessages.Count != 0)
    {
        <div class="postion">
            <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
                <div class="toast-header">

                    <strong class="mr-auto">Errors</strong>

                    <button type="button" @onclick="(() => errorMessages = new())" class=" close" data-dismiss="toast" aria-label="Close">
                        <i class="fa-solid fa-x"></i>
                    </button>
                </div>
                <div class="toast-body">
                    @foreach (var item in errorMessages)
                    {
                        <li style="color:red"> @item</li>
                    }
                </div>
            </div>
        </div>
    }

</div>

@code {

}
