<!--Background-->
<div class="form-bg">
    <EditForm Model="@Wish" OnValidSubmit="Submit">
        <!-- form -->
        <div class="form-body">
            <!-- Content -->
            <div class="form-content">
                <div class="form-header">
                    <div>
                    </div>
                    <h2>Opret Ønske</h2>
                    <div>
                        X
                    </div>
                </div>

                <!-- input felt-->
                <div class="container-selections">
                    <div>
                        <p class="input-description">Navn</p>
                        <InputText class="input-name" type="text" placeholder="skateboard..." @bind-Value="Wish.Name" />
                    </div>
                   
                </div>

                <input type="submit" class="button-submit" value="Opret">

            </div>

        </div>
    </EditForm>
</div>